
<div class="form">
    <form action="submit">
        <div class="form-content">
            <app-form-input placeHolderName="Enter Name" label="Name"></app-form-input>
            <app-form-input placeHolderName="Enter Email" label="Email"></app-form-input>
            <app-form-input placeHolderName="Enter Phone Number" label="Phone Number"></app-form-input>
            <app-form-input placeHolderName="Enter Password" label="Password"></app-form-input>
            <app-form-input placeHolderName="Confirm Password" label="Confirm Password"></app-form-input>
        </div>
        <app-button buttonName="SAVE"></app-button>
    </form>
</div>
